.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 0.6rem;
}

.navbar__element,
.navbar__list {
  height: 100%;
}

.navbar__element--logo {
  position: relative;
  background-color: #333;

  &:before {
    display: block;
    content: '';
    height: 100%;
    width: 2px;
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to bottom, #709ad1 0%, #3ed8b5 100%);
  }
}

.navbar__icon {
  padding-right: 10px;
}

.navbar__link {
  display: block;
  height: 100%;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    color: #3ed8b5;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.navbar__link--logo {
  &:hover {
    background-color: #333;
    color: #fff;
  }
}
